body {
  margin: 0;
  padding: clamp(1rem, 5vw, 3rem);;
  box-sizing: border-box;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  background-color: #ffd700;
  color: #aefeff;
  min-height: 100vh;
}

.logo {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  display: inline-block;
}

header {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #1C1C1C; /* Deep Charcoal */
  border-radius: 12px;
  color: #FFD700; /* Iridescent Gold */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #FFD700;
}

header h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #00FFA3; /* Aqua Blue */
}

#mint-id {
  font-size: 1rem;
  color: #ffd700;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

#about {
  max-width: 700px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #1C1C1C; /* Deep Charcoal */
  color: #F5F5F5; /* Panda White */
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.2); /* Gold glow */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#about h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #FFD700; /* Iridescent Gold */
  text-align: center;
}

#about ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

#about li {
  margin-bottom: 0.75rem;
  line-height: 1.5;
}

#about p {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  color: #00FFA3; /* Aqua Blue */
}

#social {
  background-color: #1a1a1a;
  border: 1px solid #2c7a4b;
  border-radius: 12px;
  padding: 2rem;
  margin-top: 2rem;
  box-shadow: 0 0 10px rgba(44, 122, 75, 0.3);
}

#social ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-left: 0;
  list-style: none;
}

#social a {
  font-weight: bold;
  font-size: 1.1rem;
  color: #aefeff;
  text-decoration: none;
}

.mint-again {
  max-width: 700px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #1C1C1C; /* Deep Charcoal */
  color: #ffd700; /* Panda White */
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.2); /* Gold glow */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #D4AF37;
  color: #9945ff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #B59410;
}

